<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biji">

    <application>
        <activity
            android:name=".ui.SearchNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyBiJiActivity" />
        <activity android:name=".ui.NoteEditActivity" />
    </application>

</manifest>